.appointmentlayout{
display: flex;
    width: max-content;
}
.appointmentcard_container{
    border-radius:20px;
    margin:5px;
    padding: 25px;
}
.appointmentname{
    font-weight: 700;
    
}
.appointmenticon{
     width:30px;
    height:30px;
    padding-left:75px;
}