.App{
  background-color: white;
  margin:18px;
  margin-bottom:0px;
  padding:6px 6px;
  border:1px solid rgb(188, 140, 255);
  border-radius:30px;
  min-height:100vh;
  z-index:0;
  position:absolute;
}

