.App{
  background-color: white;
  margin:18px;
  margin-bottom:0px;
  padding:6px 6px;
  border:1px solid rgb(188, 140, 255);
  border-radius:30px;
  min-height:100vh;
  z-index:0;
  position:absolute;
   font-family: "Yrsa", serif;
}


@media (min-width: 480px) and (max-width: 767px) {
  .App {
    margin: 6px;
    border-radius: 22px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .App {
    margin: 14px;
    padding: 6px;
    border-radius: 24px;
  }
}